@font-face {
	font-family: 'chosun ilbo myungjo';
	src: url('../../assets/fonts/chosun_ilbo_myungjo.woff2') format('woff2'),
	url('../../assets/fonts/chosun_ilbo_myungjo.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'HYgsrB';
	src: url('../../assets/fonts/HYgsrB.woff2') format('woff2'),
	url('../../assets/fonts/HYgsrB.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
