.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .upload-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .dimmed-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/body-noise.png) center;
    background-size: 150px;
    opacity: 0.7;
  }
}

main {
  position: relative;
  z-index: 1;
  margin: 0 20px;
  overflow: hidden;
}

.text-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-value {
  position: absolute;
  top: 15%;
  left: 8%;
  width: fit-content;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  transition: background 1s ease-in;
  word-break: break-all;
  font-variant-ligatures: none; // 텍스트가 겹치지 않도록
  &:empty:before {
    content: '무엇이든\A입력해보세요.'; //br은 \A임
    white-space: pre;
  }
}

textarea {
  position: absolute;
  top: 15%;
  display: none;
  width: 100%;
  border: 0;
  outline: none;
  resize: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000;
  background: transparent;
  caret-color: #000 !important;
  font-family: inherit;
  word-break: break-all;
  &::placeholder {
    font-weight: 300;
    line-height: 30px;
  }
}

#ratioImage {
  position: absolute;
  display: none;
}